{
  "env": {
    "node": true
  },
  "extends": "airbnb-base",
  "parser": "@babel/eslint-parser",
  "plugins": ["promise"],
  "rules": {
    "key-spacing": ["error", {
      "align": "colon",
      "afterColon": true,
      "beforeColon": true
    }]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["#utils", "./src/utils"],
          ["#constants", "./src/constants"],
          ["#services", "./src/services"]
        ]
      },
      "extensions": [".js"]
    }
  }
}
